# torch==1.13.1
# torchvision==0.14.1
lightning
lightning-bolts
mitsuba

opencv-python
Pillow
matplotlib
scipy
tensorboardX
jupyter
ipywidgets
open3d
omegaconf
scikit-learn
nerfstudio
torchviz
openexr_numpy
bpy
trimesh
hydra-core
tqdm
imageio
openexr_numpy
viztracer
pnoise
wandb
psutil
pynvml
open3d
pyexr